<h1>Users</h1>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Rated beers</th>
    <th>Ratings</th>
  </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <td><%= user.beers.length %></td>
        <td><%= user.ratings.length %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, class:'btn btn-default btn-sm' %>
