
<h3><%= title %></h3>

<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>Average</th>
  </tr>
  </thead>

  <tbody>
  <% entries.each do |e| %>
    <tr>
      <td><%= link_to e.name, e %></td>
      <td><%= round(e.average_rating) %></td>
    </tr>
  <% end %>
  </tbody>


</table>