<h2>Ratings</h2>

<%= link_to 'Add new rating', new_rating_path %>

<p> Number of ratings: <%= @ratings.count %></p>

<ul>
  <% @ratings.each do |r| %>
    <li> <%= r %> <%= link_to r.user.username, r.user %></li>
  <% end %>
</ul>
