<h2>Ratings</h2>

<%= link_to 'Add new rating', ratings_new_path %>

<p> Number of ratings: <%= @ratings.count %></p>

<ul>
  <% @ratings.each do |rating| %>
    <li> <%= rating %> </li>
  <% end %>
</ul>
